<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cybodoc.carpurchase">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="cybodoc.garage.Activity.CarModelDescriptionActivity" />
        <activity android:name="cybodoc.garage.Activity.ListCarBrandsActivity">

        </activity>
        <activity android:name="cybodoc.garage.Activity.CarBrandModelsActivity" />
        <activity android:name="cybodoc.garage.Activity.StylesActivity"></activity>
        <activity android:name="cybodoc.garage.Activity.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
